/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}





















































! {
    border: 2px solid black;
}

html, body {
    font-size :62.5%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

section.navbar {
    margin: 10px 10px 20px 90px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: ;
    padding: ;
    font-size: 14px;
}

.navbar a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    margin: 20px 120px 20px 120px;
}

.jumbo {
    width: 1700px;
}

section.banner {
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5 {

    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 165px 20px 165px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    font-size: 2rem;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin: 20px 165px 20px 165px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box1 {
    background-color: teal;
}
.middle-content .boxes .box2 {
    background-color: gold;
}
.middle-content .boxes .box3     {
    background-color: cadetblue;
}
.middle-content .boxes .box4 {
    background-color: coral;
}
.middle-content .boxes .box5 {
    background-color: crimson;
}
.middle-content .boxes .box6 {
    background-color: forestgreen;
}
.middle-content .boxes .box7 {
    background-color: darkorchid;
}
.middle-content .boxes .box8 {
    background-color: hotpink;
}
.middle-content .boxes .box9 {
    background-color: indigo;
}
.middle-content .boxes .box10 {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 20px 185px 20px 185px;
    justify-content: space-around;
}

.bottom-content .text-container {
    font-size: 2rem;
    padding-right: 4%;
    margin: 20px 20px 20px 10px;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media(max-width:800px) {
    .navbar a{
        margin: 10px 10px 10px 10px;  
    }
    .top-content {
        display: flex;
        justify-content: flex-start;
        margin: 20px 40px 20px 40px;     
    }
    .middle-content {
        margin: 20px 40px 20px 40px;
        border-bottom: 1px dashed black;
    }
    .bottom-content   {
        margin: 20px 40px 20px 40px;  
    }
    .bottom-content .text-container {
        font-size: 2rem;
        padding-right: 4%;
        margin: 20px 40px 20px 40px;
    }
}
@media(max-width:500px) {

    img.logo {
        margin: 10px 150px 30px 10px;
    }
    .navbar a {
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 2rem;
        color: black;
        text-decoration: none;
        margin: 20px 150px 20px 2px;
    }
    a {
        background-color: grey;
        text-align: center;
        margin: 20px 1px 20px 1px;
    }
    
.top-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px 1px 20px 1px;
}
.mobilep1 {
    font-size: 1rem;
    margin: 1px 1px 1px 1px; 
}
.mobilep2 {
    font-size: 1rem;
    margin: 1px 1px 1px 1px; 
}

.boxes {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.middle-content .boxes .box5 {
    display: none;
    background-color: crimson;
}
.middle-content .boxes .box6 {
    display: none;
    background-color: forestgreen;
}
.middle-content .boxes .box7 {
    display: none;
    background-color: darkorchid;
}
.middle-content .boxes .box8 {
    display: none;
    background-color: hotpink;
}
.middle-content .boxes .box9 {
    display: none;
    background-color: indigo;
}
.middle-content .boxes .box10 {
    display: none;
    background-color: dodgerblue;
}
.bottom-content {
    display: none;
   
}
    footer {
        display: none;
    }
}